.data-picker-overlay
    .date-picker-box
        .year-month
            select.select-year
                - var y = startYear
                while y < endYear
                    option(value=y selected=y===thisYear)=y
                    - y++
            select.select-month
                each m in [1,2,3,4,5,6,7,8,9,10,11,12]
                    option(value=m-1 selected=m-1===thisMonth)=m

            a.prev-month(href="javascript:") 上个月
            a.next-month(href="javascript:") 下个月

        table
            thread
                th 一
                th 二
                th 三
                th 四
                th 五
                th 六
                th 七
            tbody.date

        //- .time
        //-     input.select-hour(type="number" value=thisHour||0)
        //-     span &nbsp;时&nbsp;&nbsp;
        //-     input.select-minute(type="number"  value=thisMinute||0)
        //-     span &nbsp;分

        a.cancel(href="javascript:") 取消

